body {
  width: 100vw;
  height: 100dvh;

  display: flex;
  flex-direction: column;
  justify-content: center;
}
.main{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.row{
  display: flex;
  flex-direction: row;
  align-items: center;
}
.select__password {
  width: 200px;
  padding: 10px;
  margin: 10px;
}
.boton{
  width: 100px;
}
.bordeRojo {
  border: 2px solid red;
}
